<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 얘가 없으면 시스템에서 확인할 수 없음 -->
<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="com.mvc.cat.dao.CatDAO">
   
    
	<select id="list" resultType="com.mvc.cat.dto.CatDTO">
       select * from cats
    </select>   
   
   
   <insert id="add" parameterType="hashmap">
   		insert into cats(cat_name,cat_breed,cat_age,cat_price) 
   			values (#{cat_name},#{cat_breed},#{cat_age},#{cat_price})
   </insert>
   
   <delete id="del"> 		
   		delete from cats where cat_id = #{cat_id}	
   </delete>
   
   <update id="edit" parameterType="hashmap">
   		update cats set
   			cat_price = #{cat_price}
   			where cat_id = #{cat_id}
   </update>
   
   
      
</mapper>


